[package]
name = "backoffice_rust"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
once_cell = "1"

[dev-dependencies]
criterion = "0.5"

[[bench]]
name = "perf"
harness = false